NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=qnv9z1df
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=takorai_uploads
CLOUDINARY_API_KEY=424982194651778
CLOUDINARY_API_SECRET=7uAuslbuVtRdF1xunWwMVc85sO0
